SUPABASE_PROJECT_ID=eiwjpbfkxmtytmtiqpfj
SUPABASE_PUBLISHABLE_KEY=sb_publishable_n7rnnMReQec9wSW_kcn6Mg_og2GlSbV
SUPABASE_URL=https://supabase.com/dashboard/project/eiwjpbfkxmtytmtiqpfj
VITE_SUPABASE_PROJECT_ID=eiwjpbfkxmtytmtiqpfj
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_n7rnnMReQec9wSW_kcn6Mg_og2GlSbV
VITE_SUPABASE_URL=https://supabase.com/dashboard/project/eiwjpbfkxmtytmtiqpfj
